.nav {
    background-color: black;
    color: white;
    justify-content: space-between;
    display: flex;
    margin: 0;  
    padding: 0;
    height: 35px;   /* put items next to each other */    /* push them to the right edge */  
    padding: 0.5rem 1rem;    
     
}

.brand {  
    font-weight: bold;  
    color: #fff;
    font-size: 24px;
    margin: 5px;
}

.navlinks {
    list-style: none;  /* spacing between links (optional) */  
    align-items: center;
    display: flex;
    gap: 16px        /* vertical alignment */
}

.navlinks a {  
    text-decoration: none;  
    color: white;
}


.maindiv {
    width: 100%;
    height: 800px; /* or any height you want */
    background-image: url("./Kangaroo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 3rem 3rem;
    color: white;
    background-color: rgba(0,0,0,0.5);
    }